[submodule "dependencies/snappy"]
	path = dependencies/snappy
	url = https://github.com/ballisticwhisper/snappy
[submodule "dependencies/irrlicht"]
	path = dependencies/irrlicht
	url = https://ballisticwhisper@github.com/ballisticwhisper/irrlicht.git
[submodule "dependencies/libbitcoin"]
	path = dependencies/libbitcoin
	url = https://github.com/ballisticwhisper/libbitcoin
[submodule "dependencies/boost/boost"]
	path = dependencies/boost/boost
	url = https://github.com/ballisticwhisper/boost
[submodule "dependencies/secp256k1"]
	path = dependencies/secp256k1
	url = https://github.com/ballisticwhisper/secp256k1
	branch = msvc-version2
