[submodule "dependencies/snappy"]
	path = dependencies/snappy
	url = https://github.com/ballisticwhisper/snappy
[submodule "dependencies/irrlicht"]
	path = dependencies/irrlicht
	url = https://ballisticwhisper@github.com/ballisticwhisper/irrlicht.git
[submodule "dependencies/boost"]
	path = dependencies/boost
	url = https://ballisticwhisper@github.com/ballisticwhisper/boost
	branch = release
[submodule "dependencies/libbitcoin"]
	path = dependencies/libbitcoin
	url = https://ballisticwhisper@github.com/ballisticwhisper/libbitcoin
	branch = version1
[submodule "dependencies/leveldb"]
	path = dependencies/leveldb
	url = https://ballisticwhisper@github.com/ballisticwhisper/leveldb
	branch = windows
